<div class="container mt-5">
    <div class="row py-4 d-flex align-items-center justify-content-center shadow-sm">
        <div class="col-6 text-white ml-auto font-22">
            Got an idea? let's talk!
        </div>
        <div class="col-6 text-gray">
           <div class="float-right text-center">
            <a onclick=" window.open('https://www.linkedin.com/in/pranay-nagavolu/');" class="m-2"><img class="img-fluid pointer img-size" src="assets/in.png" alt=""></a>
            <a href="mailto:pranaynagavolu2000@gmail.com" class="m-2"><img class="img-fluid pointer img-size" src="assets/mail.png" alt=""></a>
            <a onclick=" window.open('https://gitlab.com/PranayNagavolu');" class="m-2"><img class="img-fluid pointer img-size" src="assets/gitlab.png" alt=""></a>
            <a onclick=" window.open('https://github.com/PranayNagavolu');" class="m-2"><img class="img-fluid pointer img-size" src="assets/github.svg" alt=""></a>
           </div>
        </div>
    </div>
</div>
