<div class="container">
    <div class="row py-4 d-flex align-items-center justify-content-center">
        <div class="col-6 text-white ml-auto font-25">
            Contact me
        </div>
        <div class="col-6 text-gray">
           <div class=" text-center">
            <a href="linkedin.com/in/pranay-nagavolu-021987188" class="m-2"><img class="img-fluid img-size" src="assets/fb.png" alt=""></a>
            <span class="m-2"><img class="img-fluid img-size" src="assets/insta.png" alt=""></span>
            <span class="m-2"><img class="img-fluid img-size" src="assets/gitlab.png" alt=""></span>
            <span class="m-2"><img class="img-fluid img-size" src="assets/g.png" alt=""></span>
            <span class="m-2"><img class="img-fluid img-size" src="assets/in.png" alt=""></span>
           </div>
        </div>
    </div>
</div>
